.addStaff-title
{
    display: flex;
    justify-content: center;
    color: #5495FD;
}

.permission-text
{
    font-family: "HelveticaNeueCyr-Light";
    margin-left: 10%;
}

.cstmBtn
{
    display: flex;
    justify-content: flex-end;
    margin-top: -8%;
    margin-right: 20%;
}