.subHeader-telecom-manageProds
{
    display: flex;
    justify-content: space-between;
}

.subText-telecom-manageProds
{
    margin-left: 30px;
    color: #5495FD;
    width: 70%;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 1.6em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

.options-telecom-manageProds
{
    display: flex;  
    width:30% ;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}