.displayClient
{
    display: flex;
    font-size: 15px;
    margin-left: 4%;
    align-items: center;
    margin-bottom: 10px;
}

.client-name
{
    width: 10%;
    
}

.client-wallet,.client-payment
{
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 10%;
    
}

.wallet-gap
{
    color:#01AA62 ;
    margin-right: 10%;
}

.payment-gap
{ 
    color: #FF1414;
    margin-right: 6%;
}

.client-payment
{
    margin-left: 2%;
    width: 13.5%;
}

.client-LastLogIn
{
    margin-left: 3%;
    width: 16%;
    
}

.client-username
{
    width: 14%;
    margin-left: 0%;
}

.client-createdAt
{
    width: 15%;
    margin-left: 2%;
    margin-right: 3%;
}