.displayClient
{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.client-name,.client-username
{
    width: 14.28%;
    display: flex;
    justify-content: center;
    
} 

.client-wallet,.client-payment,.client-edit-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.28%;
    
}

.wallet-gap
{
    color:#01AA62 ;
    margin-right: 10%;
}

.payment-gap
{ 
    color: #FF1414;
    margin-right: 6%;
}


.client-LastLogIn
{
    width: 11.28%;
    padding-left: 3%;    
}



.client-createdAt
{
    width: 11.28%;
    padding-left: 3%;
}
