.subfield
{
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#658AC6;
    border-color: #658AC6;
    color: white;
    width: 80px;
    justify-content: center;
}