.subSection
{
    background-color:#FFFFFF; 
    height: 95%;
    margin: 0% 3%;
    overflow: scroll;
}

.subSectionHalf
{
    background-color:#FFFFFF; 
    height: 85%;
    margin: 0% 20%;
}


.subSectionQuarter
{
    background-color:#FFFFFF; 
    height: 35%;
    margin: 0% 25%;
}

.titles,.titles1
{
    display: flex;
    font-family: "HelveticaNeueCyr-Bold";
    justify-content: space-around;
    overflow: scroll;
}

.titles1
{
    font-size: 10px;
}

.manageProds
{
    display: flex;
    overflow-x: scroll;
    margin-left: 60%;
}