.displayStaff
{
    display: flex;
    position: relative;
    height: 120px;
}

.staff-name,.staff-username,.staff-createdAt,.staff-permissions,.staff-EditBtn
{
    display: flex;
    justify-content: center;
    width: 20%;
}

.staff-EditBtn
{
    margin-left: 20%;
}

.staff-permissions
{
    max-height: 90px;
    overflow: scroll; 
    position: absolute;
    left: 64%;
    padding-left: 2%;
}


