.addClientPage
{
    height: 90%;
    background-color: #F4F4F8;
    
}
.client-container
{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
.sub-left
{
    background-color:#FFFFFF; 
    height: 95%;
    width: 45%;
    overflow: scroll;
}

.sub-right
{
    background-color:#FFFFFF; 
    height: 95%;
    margin-left: 2%;
    width: 45%;
    overflow: scroll;
}
.info-client,.vat-client,.email-client,.username-client,.pass-client
{
    display: flex;
    margin-left: 10%;
    width: 90%;
}

.info-client-name,.vat-num,.pw-email,.client-username1,.client-pass
{
    width:25%;
}


.vat,.clientName,.user-inp,.email-pw,.client-user-inp,.client-pass-inp
{
    margin-top: 12px;
    height: 22px;
    border: 1px solid #EAEAEA;
}

.permission
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.first-two-client,.second-two-client
{
    display: flex;
    flex-direction: column;
    
}

.purchaseProd,.paymentReport,.downloadFiles,.WalletReport
{
    display: flex;
    margin-left: 5%;
}
