@font-face{
  font-family: 'HelveticaNeueCyr-UltraLight';
  src:local('HelveticaNeueCyr-UltraLight'),url('./fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
}

@font-face{
  font-family: 'HelveticaNeueCyr-Medium';
  src:local('HelveticaNeueCyr-Medium'),url('./fonts/HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face{
  font-family: 'HelveticaNeueCyr-Light';
  src:local('HelveticaNeueCyr-Light'),url('./fonts/HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face{
  font-family: 'HelveticaNeueCyr-Bold';
  src:local('HelveticaNeueCyr-Bold'),url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}

body{
  font-family: 'HelveticaNeueCyr-UltraLight';
  letter-spacing: 1px;
}


