.cButton
{
    background-color:#5495FD ;
    font-family: "HelveticaNeueCyr-Light";
    letter-spacing: 0.2ch;
    color: white;
    border: none;
    padding: 10px;

}

.cButton:hover
{
    cursor: pointer;
}

.cButton:focus
{
    outline-style:groove;
    outline-color: #5495FD;
}