.cButton
{
    background-color:#5495FD ;
    font-family: "HelveticaNeueCyr-Light";
    letter-spacing: 0.2ch;
    color: white;
    border: none;
    padding: 10px;
    font-size: 12px;
}

.cBtn-del
{
    background-color: #C30000;
}

.cButton:hover
{
    cursor: pointer;
}

.cButton:focus
{
    outline-style:groove;
    outline-color: #5495FD;
}

@media screen and (max-width:1000px){

    .cButton{
        font-size: 10px;
    }
 }